* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Libre Baskerville', 'The New Roman', serif;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.container {
  width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

p {
  margin: 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid #7D7D7D;
}

.nav-text {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.57143px;
  color: #7D7D7D;
}

.galleria {
  display: grid;
  row-gap: 40px;
  column-gap: 65px;
  
  padding-top: 40px;
  
  
  grid-template-columns: repeat(4, 310px);
  
  grid-template-rows: repeat(7, 200px);
  
  /* grid-template-areas:
  'one two three four'
  'five two seven four'
  'nine ten seven basket'
  'nine ten mono swing'
  'nine arnolfini mono swing'
  'boy arnolfini sleeping swing'
  ; */
}

.gallerea-one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* grid-area: one; */
}

.gallerea-two {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  /* grid-area: two; */
}
  
.gallerea-three {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  /* grid-area: three; */
}

.gallerea-four {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  /* grid-area: four; */
}

.gallerea-five {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  /* grid-area: five; */
}

.gallerea-six {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  /* grid-area: six; */
}

.gallerea-seven {
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  /* grid-area: seven; */
}

.gallerea-eight {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  /* grid-area: eight; */
}

.gallerea-nine {
  grid-column: 1 / 2;
  grid-row: 4 / 7;
  /* grid-area: nine; */
}

.gallerea-ten {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
  /* grid-area: ten; */
}

.gallerea-mono {
  grid-column: 3 / 4;
  grid-row: 5 / 7;
  /* grid-area: mono; */
}

.gallerea-basket {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  /* grid-area: basket; */
}

.gallerea-boy {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  /* grid-area: boy; */
}

.gallerea-arnolfini {
  grid-column: 2 / 3;
  grid-row: 6 / 8;
  /* grid-area: arnolfini; */
}

.gallerea-sleeping{
  grid-column: 3 / 4;
  grid-row: 7 / 8;
  /* grid-area: sleeping; */
}

.gallerea-swing {
  grid-column: 4 / 5;
  grid-row: 5 / 8;
  /* grid-area: swing; */
}

.gallerea-inners{
  position: relative;
  padding: 10px;
}


.gallerea-inners img{
  width: 100%;
  height: 100%;
}



.gallerea-content{
  width: 246px;
  position: absolute;
  bottom: 33px;
  left: 32px;
}

.gallerea-texts {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.gallerea-smalls {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}